.container {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 5px;

    .image {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 15px;

        img {
            width: 80px;
            height: 120px;
            object-fit: cover;
            border-radius: 5px;
        }

        .button {
            display: flex;
            gap: 5px;
            margin-top: 5px;

            button {
                padding: 5px 10px;
                border-radius: 1px;
                border-color: white;
            }
        }
    }

    .movie {
        display: flex;
        align-items: center;
    }
}